<div>
  <h2>
    Variants
  </h2>
  <hr>
  <div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewVariantModal">Add New</button>
  </div>
  <div class="container">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Description</th>
          <th>SKU</th>
          <th>Flavour</th>
          <th>Size</th>
          <th>Region</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="variant in ctrl.product.variants">
          <td>{{variant.description}}</td>
          <td>{{variant.sku}}</td>
          <td>{{variant.flavour}}</td>
          <td>{{variant.size}}</td>
          <td>{{variant.region}}</td>
          <td>{{variant.quantity}}</td>
          <td>
            <button class="btn btn-warning" ng-click="ctrl.editVariant(ctrl.product._id, variant)">Edit</button>
            <button class="btn btn-danger" ng-click="ctrl.deleteVariant(ctrl.product._id, variant)">Delete</button>
          </d>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="addNewVariantModal" tabindex="-1" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <!-- Modal content-->
    <form encType="multipart/form-data">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add New Variant</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="col-sm-5">
              <h2>
                Details
              </h2>
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="ctrl.variant.description" placeholder="Description" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="ctrl.variant.sku" placeholder="SKU" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="ctrl.variant.flavour" placeholder="flavour" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="ctrl.variant.size" placeholder="size" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="ctrl.variant.region" placeholder="Region" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="ctrl.variant.quantity" placeholder="Quantity" required>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="ctrl.createVariants()">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Add New Variants Modal -->