<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand logo" ui-sref="app.home"><img src="images/logo_light.png" height="35px"></a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li class="dropdown">
        <a href class="dropdown-toggle" data-toggle="dropdown">
           Category<b class="caret"></b>
          </a>
        <ul class="dropdown-menu">
          <li><a class="text-center" ui-sref="#">category 1</a></li>
          <li><a class="text-center" ui-sref="#">category 2</a></li>
        </ul>
      </li>
      <li>
        <a href class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-ng-if="!ctrl.isLoggedIn">
      <li><a ui-sref="register"><i class="fa fa-user-circle-o fa-lg"></i> Register</a></li>
      <li><a ui-sref="login"><i class="fa fa-sign-in fa-lg"></i> Login</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-ng-if="ctrl.isLoggedIn">
      <li class="dropdown">
        <a href class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{image_source}}" class="user-image img-responsive" alt="User Image">
            <!--i class="glyphicon glyphicon-user"></i-->
            <!--i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i-->
          </a>
        <ul class="dropdown-menu">
          <li><img src="{{image_source}}" class="profile-image img-responsive" alt="User Image" align="middle"></li>
          <li><a class="text-center" ui-sref="#">{{ctrl.name}}</a></li>
          <li><a class="text-center" ui-sref="#">{{ctrl.email}}</a></li>
          <li><a class="text-center" ui-sref="app.profile"><i class="fa fa-pencil-square-o fa-lg"></i> Edit Profile</a></li>
          <li><a class="text-center" ui-sref="login" ng-click="ctrl.logOut()"><i class="fa fa-sign-out fa-lg"></i> Log Out</a></li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-right">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
        </div>
      </div>
    </form>
  </div>
</nav>
<div ui-view></div>
<footer class="text-center">
  <a ui-sref="app.home" data-toggle="tooltip" title="Visit buyceps home">buyceps.com</a>
</footer>